*.DS_Store
.DS_Store*
dev_examples/
cdn/
Embed.CDN.js
Embed.CDN.Generator.js
compiled/generator.html
compiled/index.html
compiled/js/timeline-embed-cdn.js
compiled/js/timeline-embed-generator.js
compiled/css/timeline-generator.css
*.tmproj
*.tmproject
tmtags
source/gfx/Sprites/
