[submodule "source/js/Core"]
	path = source/js/Core
	url = git@github.com:NUKnightLab/StoryJS-Core.git
[submodule "source/less/Core"]
	path = source/less/Core
	url = git@github.com:NUKnightLab/StoryJS-Core-CSS.git
