*.DS_Store
.DS_Store*
dev_examples/
cdn/
Embed.CDN.js
Embed.CDN.Generator.js
compiled/generator.html
compiled/index.html
compiled/generator-backup.html
compiled/js/storyjs-embed-cdn.js
compiled/js/storyjs-embed-generator.js
compiled/css/timeline-generator.css
*.tmproj
*.tmproject
tmtags
source/gfx/Sprites/
/node_modules
*.pyc
codekit-config.json
build/website

