/* General styles */

/* Layout */
section {
  padding: 20px 0;
}
footer {
  margin-top: 30px;
}

/* Navbar */
.navbar {
  font-size: 14px;
}

/* Overview */
#overview {
  padding: 40px 0 50px;
  margin: 0;
}

  #overview hgroup {
    text-align: center;
  }

/* Timeline */
#demo { 
  width: 100%;
  height: 600px;
}

/* Steps */
.step {
    padding-top: 20px;
    padding-bottom: 40px;
    margin-bottom: 20px;
    border-bottom: 4px double #eee;
}
.step.last { border: none; }

  
  .step h2 {
    margin-top: 0;
    margin-bottom: 0;
    color: #ccc;
    font-size: 100px;
    line-height: 1em;
  }

  .step h3 { margin-top: 0; }

.more-options {
  margin: 20px 0;
  display: none;
}

#preview {
  display: none;
}

#preview-embed-iframe {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* Examples */
#examples h3 { 
  font-size: 16px;
  line-height: 1.3em;
}

h2.intro {
  margin: 20px auto 30px;
  max-width: 900px;
  padding: 0 20px;
}
#examples .row { 
  margin-bottom: 20px;
}

#examples img {
  margin-bottom: 10px;
}

/* Developers */
#developers .develop {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

/* Error */
#error {
  margin-top: 40px;
  margin-bottom: 80px;
  padding-top: 40px;
  padding-bottom: 40px;
}

  #error .error {
    font-size: 36px;
    line-height: 1.3em;
    text-align: center;
    color: red;
  }
  
#mc-embedded-subscribe-form .input-large {
  width: 260px;
}  

#font-preview-trigger { margin-left: 10px;}