/*
	FONT
	Merriweather and NewsCycle
	http://www.google.com/webfonts#UsePlace:use/Collection:News+Cycle:400,700|Merriweather:400,700,900
------------------------------------------------------------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic|PT+Sans:400,700);

@font-serif: 'Arvo', serif;
@font-sansserif: 'PT Sans', sans-serif;