/*
	FONT
	Merriweather and NewsCycle
	http://www.google.com/webfonts#UsePlace:use/Collection:News+Cycle:400,700|Merriweather:400,700,900
------------------------------------------------------------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700|Merriweather:400,700,900);

@font-serif: 'Merriweather', serif;
@font-sansserif: 'News Cycle', sans-serif;