/*
 * VMM Timeline Core
 * Basic and global styles for generating structural layout
 * ------------------------------------------------------------------------------------------- */

/* TIMELINE EMBED
================================================== */
#timeline-embed {
	background-color: @color-base;
	margin-bottom:20px;
	border: 1px solid @color-line;
	padding-top:20px;
	padding-bottom:20px;
	clear:both;
	
	.border-radius(10px);
	.box-shadow(1px 1px 3px rgba(0,0,0,.35));
}
#timeline-embed.full-embed {
	overflow:hidden;
	border: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
	clear:both;
	
	.border-radius(0) !important;
	.box-shadow(0 0px 0px rgba(0, 0, 0, 0.25)) !important;
}
#timeline-embed.sized-embed {
	overflow:hidden;
	border: 1px solid @color-line;
	padding-top:7px;
	padding-bottom:7px;
	margin: 0 !important;
	clear:both;
	
	.box-shadow(0 0px 0px rgba(0, 0, 0, 0.25)) !important;
}
