
include ../includes/ascii
head
	title Timeline JS Example
	meta(charset='utf-8')
	meta(name='description', content='TimelineJS example')
	meta(name='apple-mobile-web-app-capable', content='yes')
	meta(name='apple-touch-fullscreen', content='yes')
	meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
	// Style
	style
		html, body {
			height:100%;
			padding: 0px;
			margin: 0px;
		}
	// HTML5 shim, for IE6-8 support of HTML elements
	//if lt IE 9
		script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')