<section id="about">
  <h2>About</h2>
  <div class="row">
    <!-- Column 1-->
    <div class="span6">
      <h4>Document History</h4>
      <p><span class="verite-brand">Timeline<span class="verite-brand-ext">JS</span></span> can pull in media from different sources. It has built in support for:
      </p>
      <p><em>Twitter, Flickr, Google Maps, YouTube, Vimeo, Dailymotion, Wikipedia, SoundCloud and more media types in the future.</em></p>
      <p>Creating one is as easy as filling in a Google spreadsheet or as detailed as JSON.</p>
    </div>
    <div class="span6">
      <!-- Tips and Tricks-->
      <h4>Tips and tricks to best utilize <span class="verite-brand">Timeline<span class="verite-brand-ext">JS</span></span>
      </h4>
      <ol>
        <li>Keep it short, and write each event as a part of a larger narrative.</li>
        <li>Pick stories that have a strong chronological narrative. It does not work well for stories that need to jump around in the timeline.</li>
        <li>Include events that build up to major occurrences.<em>Not just the major events.</em></li>
      </ol>
    </div>
  </div>
</section>