<!-- Demo -->
<section id="demo" >
  <div id="timeline-embed" >
    <div id="timeline"></div>
  </div>
</section>

<script type="text/javascript">
  var timeline_config = {
   width: "100%",
   height:  "100%",
   debug: true,
   source:  'static/welcome/welcome.json',
   font:  'NewsCycle-Merriweather',
  };
</script>
<!-- build:js https://cdn.knightlab.com/libs/timeline/%(cdn)s/js/storyjs-embed.js -->
<script type="application/javascript">
    var embed_path = "/build/"
</script>
<script type="text/javascript" src="/build/js/storyjs-embed.js"></script>
<!-- endbuild -->
