<!-- Demo -->
<section id="demo">
  <div id="timeline-embed">
    <div id="timeline"></div>
  </div>
</section>

<script type="text/javascript">
  var timeline_config = {
   width: "100%",
   height:  "100%",
   debug: false,
   source:  'static/welcome/welcome.json',
   font:  'NewsCycle-Merriweather',
  };
</script>
<!-- build:js http://cdn.knightlab.com/libs/timeline/latest/js/storyjs-embed.js -->
<script type="application/javascript">
    var embed_path = "/build/"
</script>
<script type="text/javascript" src="/build/js/storyjs-embed.js"></script>
<!-- endbuild -->
