<!-- Developers -->
<section id="developers" class="container">
  <h2>About the Project</h2>
  <div class="row">
    <div class="span6">
      <p>This project is hosted on <a href="https://github.com/NUKnightLab/TimelineJS" target="_blank">GitHub</a>, the largest code host in the world. We encourage you to contribute to the project and we value your feedback. You can report bugs and discuss features on the <a href="https://github.com/NUKnightLab/TimelineJS/issues" target="_blank">GitHub issues page</a>, or <a href="https://knightlab.zendesk.com/anonymous_requests/new" target="_blank">ask a question</a></p>
    </div>

    <div class="span6">
      <p>
        This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not distributed with this file, You can obtain one at <a href="http://mozilla.org/MPL/2.0/">http://mozilla.org/MPL/2.0/</a>.
      </p>
      <p>
        Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>.
        Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>.
      </p>
    </div>
  </div>
</section>
