<section id="examples" class="container">
  <h2>Examples</h2>
  <p>Have you made a timeline? <span><a href="https://docs.google.com/a/digitalartwork.net/spreadsheet/viewform?formkey=dE5PR01xc2h5cmRySkowLVIzOUVYeUE6MQ#gid=0" target="_blank">Let us know</a>, and we might feature it here.</span></p>

  <!-- Examples Row 1-->
  <div class="row">

    <!-- Example-->
    <div class="span3">
      <p><a href="http://www.lemonde.fr/election-presidentielle-2012/visuel/2012/04/21/chronologie-une-si-longue-campagne-presidentielle_1681661_1471069.html" target="_blank"><img src="{{ static_url }}/img/examples/thumbs/thumb_lemonde.jpg" class="thumbnail"></a></p>
      <h3><a href="http://www.lemonde.fr/election-presidentielle-2012/visuel/2012/04/21/chronologie-une-si-longue-campagne-presidentielle_1681661_1471069.html" target="_blank"><img src="{{ static_url }}/img/examples/logos/logo_lemonde.png" alt="Le Monde"><br/>Chronology of the french presidential race</a></h3>
    </div>

     <!-- Example-->
     <div class="span3">
      <p><a href="http://world.time.com/2013/12/05/nelson-mandelas-extraordinary-life-an-interactive-timeline/" target="_blank"><img src="{{ static_url }}/img/examples/thumbs/thumb_mandela.jpg" class="thumbnail"></a></p>
      <h3><a href="http://world.time.com/2013/12/05/nelson-mandelas-extraordinary-life-an-interactive-timeline/" target="_blank"><img src="{{ static_url }}/img/examples/logos/logo_time.png" alt="Time"><br/>Nelson Mandela's Extraordinary Life</a></h3>
    </div>

    <!-- Example-->
   <div class="span3">
      <p> <a href="http://www.radiolab.org/blogs/radiolab-blogland/2012/jun/29/color-walk/" target="_blank"><img src="{{ static_url }}/img/examples/thumbs/thumb_radiolab-colorwalking.jpg" class="thumbnail"></a></p>
      <h3><a href="http://www.radiolab.org/blogs/radiolab-blogland/2012/jun/29/color-walk/" target="_blank"><img src="{{ static_url }}/img/examples/logos/logo_radiolab.png" alt="Radiolab"><br/>Color Walking</a></h3>
    </div>

    <!-- Example-->
   <div class="span3">
      <p> <a href="http://www.arte.tv/fr/comment-le-progres-nous-aura-t-il-fait-evoluer-en-l-an-42012/6704612,CmC=6704740.html" target="_blank"><img src="{{ static_url }}/img/examples/thumbs/thumb_artetv.jpg" class="thumbnail"></a></p>
      <h3><a href="http://www.arte.tv/fr/comment-le-progres-nous-aura-t-il-fait-evoluer-en-l-an-42012/6704612,CmC=6704740.html" target="_blank"><img src="{{ static_url }}/img/examples/logos/logo_arte.png" alt="ARTE.tv"><br/>Comment le progr&egrave;s nous aura-t-il fait &eacute;voluer en l&#x27;an 42012 ?</a></h3>
    </div>
 
  </div>

  <!-- Examples Row 2-->
  <div class="row">
      
    <!-- Example-->
    <div class="span3">
      <p> <a href="http://www.denverpost.com/breakingnews/ci_21119904" target="_blank"><img src="{{ static_url }}/img/examples/thumbs/thumb_denver_shooting.jpg" class="thumbnail"></a></p>
      <h3><a href="http://www.denverpost.com/breakingnews/ci_21119904" target="_blank">Denver Post: Aurora, Colorado movie theater shooting</a></h3>
    </div>

    <!-- Example-->
    <div class="span3">
      <p> <a href="http://bulger.wbur.org/story/1977/?location=44444" target="_blank"><img src="{{ static_url }}/img/examples/thumbs/thumb_bulger.jpg" class="thumbnail"></a></p>
      <h3><a href="http://bulger.wbur.org/story/1977/?location=44444" target="_blank">WBUR: Bulger on Trial</a></h3>
    </div>

   <!-- Example-->
    <div class="span3">
      <p> <a href="http://www.mysanantonio.com/news/data_central/item/Money-Laundering-8792.php" target="_blank"><img src="{{ static_url }}/img/examples/thumbs/thumb_moneylaundering.jpg" class="thumbnail"></a></p>
      <h3><a href="http://www.mysanantonio.com/news/data_central/item/Money-Laundering-8792.php" target="_blank">San Antonio Express-News: Money Laundering</a></h3>
    </div>

   <!-- Example-->
    <div class="span3">
      <p> <a href="http://america.aljazeera.com/articles/timeline-egypt-inturmoil0.html" target="_blank"><img src="{{ static_url }}/img/examples/thumbs/thumb_aljazeera.jpg" class="thumbnail"></a></p>
      <h3><a href="http://america.aljazeera.com/articles/timeline-egypt-inturmoil0.html" target="_blank">Al Jazeera: Egypt in Turmoil</a></h3>
    </div>
  </div>

  <!-- Examples Row 3-->
  <div class="row">

  <!-- Example-->
 <div class="span3">
      <p> <a href="http://lafabriquedureel.fr/prometheus.html" target="_blank"><img src="{{ static_url }}/img/examples/thumbs/thumb_transmedia.jpg" class="thumbnail"></a></p>
      <h3><a href="http://lafabriquedureel.fr/prometheus.html" target="_blank">Marketing transmedia: Prometheus</a></h3>
    </div>

  <!-- Example-->
    <div class="span3">
      <p> <a href="http://backtoghana.com/timeline" target="_blank"><img src="{{ static_url }}/img/examples/thumbs/thumb_ghana.jpg" class="thumbnail"></a></p>
      <h3><a href="http://backtoghana.com/timeline" target="_blank">History of Ghana</a></h3>
    </div>

    <!-- Example-->
   <div class="span3">
      <p> <a href="http://bitly.com/IBS1xY" target="_blank"><img src="{{ static_url }}/img/examples/thumbs/thumb_akira.jpg" class="thumbnail"></a></p>
      <h3><a href="http://bitly.com/IBS1xY" target="_blank">Akira Toriyama's World</a></h3>
    </div>

   <!-- Example-->
    <div class="span3">
      <p> <a href="http://tutorialzine.com/2012/04/timeline-portfolio/" target="_blank"><img src="{{ static_url }}/img/examples/thumbs/thumb_tutorialzine.jpg" class="thumbnail"></a></p>
      <h3><a href="http://tutorialzine.com/2012/04/timeline-portfolio/" target="_blank">Tutorialzine</a></h3>
    </div>


  </div>

  <!-- Examples Row 4-->
  <div class="row">

    <!-- Example-->
    <div class="span3">
      <p> <a href="http://media.vol.at/timelines/cain/" target="_blank"><img src="{{ static_url }}/img/examples/thumbs/thumb_austrian.jpg" class="thumbnail"></a></p>
      <h3><a href="http://media.vol.at/timelines/cain/" target="_blank">Austrian Boy Murdered - www.vol.at</a></h3>
    </div>

   <!-- Example-->
     <div class="span3">
      <p> <a href="/examples/houston/" target="_blank"><img src="{{ static_url }}/img/examples/thumbs/thumb_houston.jpg" class="thumbnail"></a></p>
      <h3><a href="/examples/houston/" target="_blank">Whitney Houston 1963 - 2012</a></h3>
    </div>

    <!-- Example-->
    <div class="span3">
      <p> <a href="http://www.spokesman.com/timelines/brief-history-hats/" target="_blank"><img src="{{ static_url }}/img/examples/thumbs/thumb_hats.jpg" class="thumbnail"></a></p>
      <h3><a href="http://www.spokesman.com/timelines/brief-history-hats/" target="_blank">Spokesman-Review: A History of Hats</a></h3>
    </div>

    <!-- Example-->
    <div class="span3">
      <p> <a href="/examples/user-interface/" target="_blank"><img src="{{ static_url }}/img/examples/thumbs/thumb_userinterface.png" class="thumbnail"></a></p>
      <h3><a href="/examples/user-interface/" target="_blank">Revolutionary User Interfaces</a></h3>
    </div>

  </div>

  <!-- Examples Row 5-->

    <!-- Example-->
   

    <!-- Example-->
   

    <!-- Example-->
  

    <!-- Example-->
    

</section>
