<!-- Overview-->
<header id="overview" class="hero-unit">
  <div class="row-fluid">
    <hgroup class="span12">
      <h1 class="logo-mark xl">Timeline<span><em>JS</em></span></h1>
      <h2 class="intro">Beautifully crafted timelines that are easy and intuitive to use.</h2>
      <a href="#make" class="btn btn-large btn-success" data-scroll="true">Make a timeline now</a>
      <p><a id="teaser" href="http://timeline3.knightlab.com"><span class="new">New!</span> Try the TimelineJS 3 beta <span class="arrow"></span></a></p>
    </hgroup>
  </div>
</header>
