!!! 5
html(lang="en")
	include ../includes/mixins
	include ../sections/example-head
	body
		div(style='width:640px;')
			<iframe src="../compiled/index.html?source=0Agl_Dv6iEbDadHdKcHlHcTB5bzhvbF9iTWwyMmJHdkE&font=Bevan-PotanoSans&maptype=toner&debug=true&lang=en&height=650" width='100%' height='650' frameborder='0'></iframe>