!!! 5
html(lang="en")
	include ../includes/mixins
	include ../sections/example-head
	body
		mixin timeline-embed-debug('https://docs.google.com/spreadsheet/pub?key=0Agl_Dv6iEbDadFBfbkE1Qk42RTFDcjRDdnFndk9DOFE&output=html')